body {
  background-color: #0C101B;
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-direction: column; */
  width: 100vw;
  height: 100vh;
}

* {
  margin: 0;
  padding: 0;
}

input {
  outline: none;
  border: 0;
}


img {
  display: block;
  opacity: 0.6;
  transition: 0.3s;
}

.up.active {
  filter: drop-shadow(8px 9px 4px green);
    opacity: 1;

  /* box-shadow: 3px 3px 3px #ccc; */
}

.down {
  margin: 20px 0 0 0;

}

.down.active {
  filter: drop-shadow(8px 9px 4px red);
  opacity: 1;
  /* box-shadow: 3px 3px 3px #ccc; */
}